.Calculator{
    width: 200px;
    height: 380px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
}

h1{
    color: white;
}
#dispaly{
    width: 100;
    height: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.btm{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    margin-bottom: 10px;
}

